*, *::after, *::before {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(7, 10vmin);
    grid-gap: 1vmin;
    align-content: center;
}

.cells {
    background-color: grey;
    border: 2px solid red;

}

.hit {
    background-color: red;
}

.miss {
    background-color: white;
}